{% load static %}
<section class="services last-one">
    <div class="box-container">
        <div class="box">
            <img src="{% static '/icons/подборза30минут.png' %}" alt="">
            <h3>Подбор за 30 минут</h3>
            <p>С нашим сервисом вы экономите время, так как после публикации, задание мгновенно отображается в списке доступных у исполнителей</p>
        </div>
        <div class="box">
            <img src="{% static '/icons/экономияденег.png' %}" alt="">
            <h3>Экономия денег</h3>
            <p>Вам не придется переплачивать за работу посредника, заказчик взаимодействует с исполнителем напрямую</p>
        </div>
        <div class="box">
            <img src="{% static '/icons/экномиявремени.png' %}" alt="">
            <h3>Экономия времени</h3>
            <p>Работайте с проверенными исполнителями и честными заданиями, а сервис безопасной оплаты позаботится о ваших деньгах</p>
        </div>
    </div>
</section>