{% extends 'main.html' %}
{% block content %}
{% load static %}
<section class="tasks" style=" margin-top: 5rem;">
    {% if request.user.is_staff == False %}
    <div class="btn-become">
        <h1>Вы можете стать исполнителем сервиса и зарабатывать</h1>
        <button>Начать</button>
    </div>
    {% endif %}
    <h1 style="padding: 3rem; font-size: 3rem;">Новые задания</h1>
    <div class="faqs__container">
      {% for task in tasks %}
      <article class="faq">
        <div class="visible"><h4>{{task.subcategory.name}}</h4>
            <p style="{% if task.is_done %}background: red;{% elif task.is_taken %}background: yellow; color: black;{% endif %}">{{task.timesince}} назад</p>
        </div>
        <div class="question__answer">
            <div class="hidden"><h5 class="description">{{task.description}}</h5></div>
            <div class="hidden"><h5>Время заказа: {{task.time}}</h5></div>
            <div class="hidden"><h5>Стоимость заказа: {{task.price}}</h5></div>
            <div class="hidden"><h5>Откликов: {{task.offer_set.all.count}}</h5></div>
            <div class="hidden">
                <div class="visible">
                    {% if user == task.client %}
                    <a href="{% url 'task' task.id %}" class="receive-btn">Посмотреть отклики</a>
                    {% elif user.is_staff %}
                    <a href="{% url 'makeoffer' task.id %}" class="receive-btn">Oткликнуться</a>
                    {% else %}
                    <a href="#" class="receive-btn" style="background: #aaa;">Стать исполнителем</a>
                    {% endif %}
                    <h6>{{task.client.name}}.</h6>
                </div>
            </div>
        </div>
      </article>
      {% endfor %}
    </div>
</section>
<script>
    const faqs = document.querySelectorAll('.faq')
    faqs.forEach(faq => {
        faq.addEventListener('click', () => {
            faq.classList.toggle('open')
        })
    })
</script>
{% include 'benefits.html' %}
{% endblock content %}