{% extends 'main.html' %}
{% block content %}
{% load static %}
<section class="create-container-body">
    <div class="create-container" data-aos="zoom-in" >
        <div class="create-content">
        <div class="right-side">
            <div class="topic-text">Оставить заявку можно здесь</div>
            <p>Если возникли трудности с отпралением заявки можете позвонить по номеру или написать по ссылкам внизу, мы поможем!!!!!</p>
        <form  method="POST" id="taskForm" enctype="multipart/form-data" data-cities-url="{% url 'load-list' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-box">
              <label for="">{{field.label}} :</label>
              {{field}}
            </div>
            {% endfor %}
            <div class="button">
            <input type="submit" value="Отправить" >
            </div>
        </form>
        </div>
        </div>
    </div>
</section>

{% include 'benefits.html' %}
{% endblock content %}